<form [formGroup]="form" (ngSubmit)="changePasswordSubmit()" >
  <div class="form-group">
    <label for="oldPassword">Old Password</label>
    <input formControlName="oldPassword" type="text" class="form-control" id="oldPassword">
    <div class="alert alert-danger" *ngIf="oldPassword.touched && oldPassword.invalid">
      <div *ngIf="oldPassword.errors.required">Old Password is required</div>
      <div *ngIf="oldPassword.errors.oldPasswordInCorrect">Old Password is incorrect</div>      
    </div>
  </div>
  <div formGroupName="newPasswordGroup">
    <div class="form-group">
      <label for="newPassword">New Password</label>
      <input formControlName="newPassword" type="text" class="form-control" id="newPassword">
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input formControlName="confirmPassword" type="text" class="form-control" id="confirmPassword">
    </div>
    <div class="alert alert-danger" *ngIf="confirmPassword.touched && newPasswordGroup.invalid">
        <div *ngIf="newPasswordGroup.errors.confirmPassword">Confirm Password not match with New Password</div>
    </div>       
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Change Password</button>
  </div>
</form>
